{% extends 'base.html' %}
{% load static %}
{% block content %}

{% load leaflet_tags %}
 <style type="text/css">
     
     #gis{
        width: 100%;
        height: 600px;
     }

 </style>

    {% leaflet_js %}
    {% leaflet_css %}

    <script>
    function our_layers( map,options ){
    var datasets = new L.GEOJSON.AJAX("{% url 'nepal_dataset' %}", {

    });
    datasets.addTo('map')


}

</script>

    {% leaflet_map "gis" callback="window.our_layers" %}

    <script src="{% static 'lib/js/leaflet-sidebar.js' %} "></script>
    <script type="text/javascript" src="{% static 'main_file/leaflet_main.js' %} "></script>

{% endblock %}
